@media screen and (max-width: 1200px) {
	body {
		font-size:40px;
	}

	.navLink {
		font-size:25px;
	}

	.input {
		font-size:40px;
	}

	#titlePopup {
		font-size:70px;
	}

	.popupDescription {
		width:90%;
		padding:3%;
		padding-left:5%;
		padding-right:5%;
	}

	.workGrid {
		flex-direction:column;
	}

	.projectRow {
		flex-basis:30%;
		padding-top:20%;
		padding-bottom:20%;
	}

	.workTitle {
		font-size:50px;
	}

	.titleProject {
		font-size:45px;
	}

	.titleProjectBig {
		font-size:55px;
	}
}

@media screen and (max-width: 800px) {

	.projectArticle {
		flex-direction: column;
	}

	.asciiTitle {
		font-size:8px;
	}
}

@media screen and (max-width: 500px) {
	.navLink {
		font-size:5px;
	}

	.workRow {
		flex-direction:column;
	}

		.projectRow {
			padding:30%;
		}
	
	.asciiTitle {
		font-size:3px;
	}

	body {
		font-size:20px;
	}

	.input {
		font-size:20px;
	}

	.omegaTitle {
		font-size:20px;
	}

	.workTitle {
		font-size:15px;
	}

	.titleProject {
		font-size:13px;
	}

	.titleProjectBig {
		font-size:16px;
	}

	.buttoNav {
		background-color:black;
		border-radius:50%;
		
		width:20px;
		height:20px;

		font-size:13px;
	}
}