html{
	height:100%;
	margin:0;
}

body {
	width:100%;
	height:50%;
	margin:0;

	background-color:#131313;
	color:white;

	font-size:20px;
	font-family: 'VT323', monospace;
}

input[type="submit"]:focus{
	outline: none;
}

a {
	text-decoration:none;
}

header {
	padding:1%;
	padding-top:0;
	padding-bottom:2%;
	width:98%;
}

nav {
	width:50%;
	padding-top: 3%;
	float: right;
	padding-top:0.5%;

	display:flex;
	justify-content:flex-end;
}

/* animations */

@keyframes slidein {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

@keyframes fade {
	from {
		opacity:0;
	}

	to {
		opacity:1;
	}
}